<div class="container">
    <mat-toolbar color="primary">
        <a mat-button routerLink="/">
            <mat-icon aria-hidden="false">home</mat-icon>
            <span class="razmak">Početna stranica</span>
        </a>
        <span class="desno">
            <a mat-button routerLink="/registracija">Registruj se</a>
            <a mat-button routerLink="/logovanje">Prijavi se</a>
        </span>
    </mat-toolbar>
    <div class="prikaz">
        <div>
            <h1>Registracija preduzeća</h1>
            <form #myForm="ngForm">
                <table>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Pun naziv preduzeća</mat-label>
                                <input matInput name="imePred" [(ngModel)]="imePred">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Skraćeni naziv preduzeća</mat-label>
                                <input matInput name="skr" [(ngModel)]="skr">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Lozinka</mat-label>
                                <input matInput type="password" name="lozinka" [(ngModel)]="lozinka">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Datum osnivanja preduzeća</mat-label>
                                <input matInput name="datumOsn" [matDatepicker]="picker" [(ngModel)]="datumOsn">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Mesto preduzeća</mat-label>
                                <input matInput name="mesto" [(ngModel)]="mesto">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput name="email" [(ngModel)]="email">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <re-captcha (resolved)="resolved($event)"
                                    siteKey="6LdRV-sUAAAAAC3ZdkBscdRB7pWPGmRg4S3AgAB2"></re-captcha>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button mat-flat-button color="accent" (click)="prijava();myForm.reset()">Potvrdi</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <footer>
        Copyright &copy; 2020
    </footer>
</div>