<div class="container">
  <mat-toolbar color="primary">
      <span class="desno">
        <a mat-button routerLink="/registracija">Registruj se</a>
        <a mat-button routerLink="/logovanje">Prijavi se</a>
      </span>
  </mat-toolbar>

  <div class="prikaz">
    <div>
      <h1>Dobrodošli na AgroWeb</h1>
      <br>
      <button mat-flat-button color="accent" (click)="skokR()">Registruj se</button>
      &nbsp;&nbsp;&nbsp;
      <button mat-flat-button color="accent" (click)="skokL()">Prijavi se</button>
    </div>
  </div>
  <footer>
    Copyright &copy; 2020
  </footer>
</div>
